<html>
	<head>
		<title>FeedMe!</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
		<script src="/javascripts/angularApp.js"></script>
		<style> .glyphicon-thumbs-up { cursor:pointer } </style>
	</head>
	<body ng-app="feedMe">
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '372131526283321',
	      xfbml      : true,
	      version    : 'v2.1'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
	<script src="http://connect.facebook.net/en_US/all.js"></script>
	<fb:login-button show-faces="true" max-rows="1" 
	size="large"></fb:login-button>
	<div
	  class="fb-like"
	  data-share="true"
	  data-width="450"
	  data-show-faces="true">
	</div>
	





		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<ui-view></ui-view>
				
			</div>
		</div>
		
		<script type="text/ng-template" id="/home.html">
			<h1> well </h1>
		</script>

		<script type="text/ng-template" id="/restaurants.html">
		
		<div class="page-header">
			<center>
				<h1 >Feed Me</h1>
			</center>
			<br>
			<input type="text" placeholder="Search for restaurants" class="form-control" ng-model="query">
			
			<!--<div ng-repeat="post in posts | orderBy:'-upvotes' | filter:query">
					<div ng-show="query.length && post.title.indexOf(query)!=-1">
						<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)">{{post.upvotes}}
						</span>
						
						<span style="font-size:20px; margin-left:10px;">
							<a  href="{{post.link}}">
											{{post.title}}
							</a>
		
							<span>
								<a href="#/posts/{{$index}}">Comments</a>
							</span>
						</span>
					</div>
			</div>-->

			<div ng-repeat="restaurant in restaurants | orderBy:'-upvotes' | filter:query">
				<div ng-show=" !query || restaurant.name.indexOf(query)!=-1">
						<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(restaurant)">{{restaurant.upvotes}}
						</span>
						
						<span style="font-size:20px; margin-left:10px;">
							<a  href="#/restaurants/{{restaurant._id}}">
											{{restaurant.name}}
							</a>
		
							<span>
								<a href="#/restaurants/{{$index}}">Comments</a>
							</span>
						</span>
					</div>
			</div>




			<!--<form ng-submit="addPost()" style="margin-top:30px;">
							<h3>Add a new post</h3>
							<div class="form-group">
											<input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
							</div>
							<div class="form-group">
											<input type="text" class="form-control" placeholder="Link" ng-model="link"></input>
							</div>
							<button type="submit" class="btn btn-primary">Post</button>
			</form> -->

			<form ng-submit="addRestaurant()" style="margin-top:30px;">
							<h3>Add a new restaurant</h3>
							<div class="form-group">
											<input type="text" class="form-control" placeholder="Name" ng-model="name"></input>
							</div>
							<div class="form-group">
											<input type="text" class="form-control" placeholder="Link" ng-model="link"></input>
							</div>
							<button type="submit" class="btn btn-primary">Add</button>
			</form>


		</div>
		<!-- rest of template -->
		
		</script>
		
		<script type="text/ng-template" id="/posts.html">
		<div class="page-header">
							<h3>
							<a ng-show="post.link" href="{{post.link}}">
												{{post.title}}
							</a>
							<span ng-hide="post.link">
							{{post.title}}
							</span>
							</h3>
		</div>
		<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
							<span class="glyphicon glyphicon-thumbs-up"
							ng-click="incrementUpvotes(comment)"></span>
							{{comment.upvotes}} - by {{comment.author}}
							<span style="font-size:20px; margin-left:10px;">
							{{comment.body}}
							</span>
							<span>
						
						</span>
		</div>
		</script>

		<script type="text/ng-template" id="/oneRestaurant.html">
		<h1> well </h1>

		<div class="page-header">
				<h3>
				<a ng-show="restaurant.link" href="{{restaurant.link}}">
									{{restaurant.name}}
				</a>
				<span ng-hide="restaurant.link">
				{{restaurant.name}}
				</span>
				</h3>
		</div>
		<div ng-repeat="item in restaurant.menuItems | orderBy:'-upvotes'">
				<div ng-click="takeOrder(item)">
				
					<span style="font-size:20px; margin-left:10px;">
							{{item.itemName}} - {{item.price}} $
					</span> <br>
					<span style="font-size:10px; margin-left:10px;">
							{{item.description}}
					</span>
				</div>
		</div>

		<h1> Ordered: </h1>
		<div ng-repeat="element in order">
				<span style="font-size:20px; margin-left:10px;">
						{{}}  {{element.item.itemName}} - {{element.item.price}} $
				</span> <br>
				
		</div>

		</script>


		<script type="text/ng-template" id="/posts.html">

		  <!-- post template -->

		  <form ng-submit="addComment()"
		    style="margin-top:30px;">
		    <h3>Add a new comment</h3>

		    <div class="form-group">
		      <input type="text"
		      class="form-control"
		      placeholder="Comment"
		      ng-model="body"></input>
		    </div>
		    <button type="submit" class="btn btn-primary">Post</button>
		  </form>
		</script>
		<script type="text/ng-template" id="/oneRestaurant12.html">

		  <!-- post template -->

		  <form ng-submit="addComment()"
		    style="margin-top:30px;">
		    <h3>Add a new comment</h3>

		    <div class="form-group">
		      <input type="text"
		      class="form-control"
		      placeholder="Comment"
		      ng-model="body"></input>
		    </div>
		    <button type="submit" class="btn btn-primary">Post</button>
		  </form>
		</script>
	</body>
</html>