<!DOCTYPE html>
<html>
	<head>
		<title>FeedMe!</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
		<script src="/javascripts/bootstrap-rating-input.min.js" type="text/javascript"></script>
		<script src="/javascripts/angularApp.js"></script>
		<script src="/javascripts/sweet-alert.js"></script>

		
		<link href="/stylesheets/style.css" rel="stylesheet">
		<link href="/stylesheets/sweet-alert.css" rel="stylesheet">
		<link href="/stylesheets/font-awesome.css" rel="stylesheet">
		
		
		<style> .glyphicon-thumbs-up { cursor:pointer } </style>
	</head>
	<body ng-app="feedMe">

		<script>

	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '372131526283321',
	      xfbml      : true,
	      version    : 'v2.1'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));


	</script>

	<script src="http://connect.facebook.net/en_US/all.js"></script>
	<div class="row-fluid pull-right">
	  <div class="span4 offset4 text-center">
	  	
	  	
		<form action="/login" class="pull-right" method="GET">
			<input class="btn btn-default" type="submit" value="Login">
		</form>
		<form action="/signup" class="pull-right" method="GET">
			<input class="btn btn-default" type="submit" value="Signup">
		</form>
		<br>
		<fb:login-button size="large" data-auto-logout-link="true" class="pull-right"></fb:login-button>
	  </div>
	</div>





		<ui-view></ui-view>
		
		<div class="row">

			<div class="page-header col-xs-6 col-md-12 text-center">

			</div>
		</div>
		

		<script type="text/ng-template" id="/restaurants.html">

		<div class="row">
			<div class="page-header col-xs-6 col-md-12 text-center">
				<h1><span class="fa fa-lock"></span> Feedme</h1>
				<input type="text" placeholder="Search for restaurants" class="form-control" ng-model="query">
			</div>
			
		</div>
		<div class="row-fluid">

		<div class="col-md-12 text-center">
			

		
				
			
			<table class="table table-hover table-bordered">
				<tr ng-repeat="restaurant in restaurants | orderBy:'-upvotes' | filter:query">
					<div ng-show=" !query || restaurant.name.indexOf(query)!=-1">
					<td class="col-md-1">
							<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(restaurant)">{{restaurant.upvotes}}
							</span>
					</td>
					<td class="col-md-5">
							<span style="font-size:20px;">
								<a  href="#/restaurants/{{restaurant._id}}">
												{{restaurant.name}}
								</a>
			

							</span>
					</td>
						</div>
				
				</tr>
			</table>

		</div>
		<!-- rest of template -->
		
		</script>
		<script>
		$(document).ready(function () {
			setTimeout(function () {
    		swal({title: 'Error!', text: 'Here\'s my error message!', type: 'error', confirmButtonText: 'Cool'});
    	}, 1000);
		});
		</script>
		<script type="text/ng-template" id="/oneRestaurant.html">
		<form action="#/restaurants" method="GET">
			<input class="btn btn-default" type="submit" value="Back to Restaurants">
		</form>
		<div class="row">
		
			<div class="page-header col-xs-6 col-md-12 text-center">
				<h1><span class="fa fa-lock"></span> {{restaurant.name}}</h1>
				<input type="text" placeholder="Search for food" class="form-control" ng-model="queryfood">
			</div>
			
		</div>

		<div class="row-fluid">
  			<div class="col-md-4">
  			<table class="table table-hover table-bordered">
  				<div style="font-size:15px; margin-left:10px;"> Recommendations </div> <br>
				<tr ng-repeat="rec in recommendation | orderBy:'-rating' | filter:queryfood">
				<div ng-show=" !queryfood || restaurant.name.indexOf(queryfood)!=-1">
				<td>
					<span style="font-size:15px; margin-left:10px;">
							<strong>{{rec.user}} </strong>

					</span>
					<br>
					<span style="font-size:15px; margin-left:10px;">
							{{rec.comment}} 
					</span>
					
	</td>
					</div>
				</tr>
				</table>
			</div>

  			<div class="col-md-4 txt-center">
				<table class="table table-hover table-bordered">
					<tr ng-repeat="item in restaurant.menuItems | orderBy:'-upvotes' | filter:queryfood">
						<div ng-show=" !queryfood || restaurant.name.indexOf(queryfood)!=-1">
						<td ng-click="order.addOrder(item)" >
							<span class="glyphicon glyphicon-plus"
									></span>
						</td>
						<td>
							<div ng-click="order.addOrder(item)">
						
								<span style="font-size:20px; margin-left:10px;">
										{{item.itemName}} - {{item.price}} $
								</span> <br>
								<span style="font-size:10px; margin-left:10px;">
										{{item.description}}
								</span>
							</div>
						</td>
						</div>	
					</tr>
				</table>
			</div>
			





			<div class="col-md-4" ng-show="sum()">
				<div> <strong><center>Order</center> </strong></div>
				<table class="table table-hover table-bordered">
					<tr><td colspan="4"><center>Total <br>{{sum()}}</center> </td></tr>
					
					<tr ng-repeat="element in order">
							<td>
							<span class="glyphicon glyphicon-minus"
										ng-click="order.removeOrder(element.item)"></span>
										</td><td>
							<span class="glyphicon glyphicon-plus"
										ng-click="order.addOrder(element.item)"></span>
										</td>
							<span style="font-size:20px; margin-left:10px;">
									<td>{{element.amount}} {{element.item.itemName}} </td><td> ${{element.item.price}} </td>
							</span> <br>	
							</td>			
					</tr>
					<tr ng-show="sum()">
						<td colspan="4"><center><input class="btn btn-default text-center" type="submit" value="Order Food"> </center>
						</td>
					</tr>
					
				</table>
			</div>

		</div>
		</script>








		<script type="text/ng-template" id="/oneRestaurant12.html">

		  <!-- post template -->

		  <form ng-submit="addComment()"
		    style="margin-top:30px;">
		    <h3>Add a new comment</h3>

		    <div class="form-group">
		      <input type="text"
		      class="form-control"
		      placeholder="Comment"
		      ng-model="body"></input>
		    </div>
		    <button type="submit" class="btn btn-primary">Post</button>
		  </form>
		</script>


	</body>
</html>