<html>
	<head>
		<title>FeedMe!</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
		<script src="/javascripts/angularApp.js"></script>
		<style> .glyphicon-thumbs-up { cursor:pointer } </style>
	</head>
	<body ng-app="feedMe">
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '372131526283321',
	      xfbml      : true,
	      version    : 'v2.1'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
	<script src="http://connect.facebook.net/en_US/all.js"></script>
	<fb:login-button show-faces="true" max-rows="1" 
	size="large"></fb:login-button>
	<div
	  class="fb-like"
	  data-share="true"
	  data-width="450"
	  data-show-faces="true">
	</div>
	





		<ui-view></ui-view>
		
		<div class="row">

			<div class="page-header col-xs-6 col-md-12 text-center">
				<h1><span class="fa fa-lock"></span> Feedme Authentication</h1>

				<p>Login or Register with:</p>

				<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>

				</div>
			</div>
		</div>
		

		<script type="text/ng-template" id="/restaurants.html">
		<div class="container">
			<div class="page-header text-center">
			
					<h1 >Feed Me</h1>
				<br>
				<input type="text" placeholder="Search for restaurants" class="form-control" ng-model="query">
			</div>	
				
			<div class="col-md-12 text-center" >
				<div ng-repeat="restaurant in restaurants | orderBy:'-upvotes' | filter:query">
					<div ng-show=" !query || restaurant.name.indexOf(query)!=-1">
							<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(restaurant)">{{restaurant.upvotes}}
							</span>
							
							<span style="font-size:20px; margin-left:10px;">
								<a  href="#/restaurants/{{restaurant._id}}">
												{{restaurant.name}}
								</a>
			
								<span>
									<a href="#/restaurants/{{$index}}">Comments</a>
								</span>
							</span>
						</div>
				</div>
			</div>

		</div>
		<!-- rest of template -->
		
		</script>
		
		

		<script type="text/ng-template" id="/oneRestaurant.html">
		
		<div class="row">
			<div class="page-header col-xs-6 col-md-12 text-center">
				<h1><span class="fa fa-lock"></span> {{restaurant.name}}</h1>

			</div>
		</div>
		<div class="row-fluid">
  			<div class="col-md-4">
  				<div style="font-size:15px; margin-left:10px;"> Recommendations </div> <br>
				<div ng-repeat="rec in recommendation | orderBy:'-rating'">
					<span style="font-size:15px; margin-left:10px;">
							{{rec.rating}} {{rec.user}} 
					</span> <br>				
					<span style="font-size:15px; margin-left:10px;">
							{{rec.comment}} 
					</span>
				</div>
			</div>

  			<div class="col-md-4 txt-center">
				<div ng-repeat="item in restaurant.menuItems | orderBy:'-upvotes'">
						<div ng-click="order.addOrder(item)">
						
							<span style="font-size:20px; margin-left:10px;">
									{{item.itemName}} - {{item.price}} $
							</span> <br>
							<span style="font-size:10px; margin-left:10px;">
									{{item.description}}
							</span>
						</div>
				</div>
			</div>
			
			<div class="col-md-4" ng-show="sum()">
				<div> Ordered: </div>
				<div ng-repeat="element in order">
						<span class="glyphicon glyphicon-minus"
									ng-click="order.removeOrder(element.item)"></span>
						<span class="glyphicon glyphicon-plus"
									ng-click="order.addOrder(element.item)"></span>
						<span style="font-size:20px; margin-left:10px;">
								{{element.amount}} {{element.item.itemName}} - {{element.item.price}} $
						</span> <br>				
				</div>
				<div> Sum = {{sum()}} </div>
			</div>
		</div>
		</script>








		<script type="text/ng-template" id="/oneRestaurant12.html">

		  <!-- post template -->

		  <form ng-submit="addComment()"
		    style="margin-top:30px;">
		    <h3>Add a new comment</h3>

		    <div class="form-group">
		      <input type="text"
		      class="form-control"
		      placeholder="Comment"
		      ng-model="body"></input>
		    </div>
		    <button type="submit" class="btn btn-primary">Post</button>
		  </form>
		</script>


	</body>
</html>